*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'DM Sans', sans-serif;
}

.bottom-message-form{
    max-width: calc(100% - 400px);
}
.modal{
    max-width: 400px;
    width: 100%;
    background: white;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    bottom: -150%;
    position: fixed;
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    display: block;
    transition: all 0.3s ease;
    transform: translate(-50%, 50%);
    left: 50%;
}

.modaloverlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 150;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}

.modaloverlay.active{
    visibility: visible;
    opacity: 1;
}

.modal.active{
    visibility: visible;
    opacity: 1;
    bottom: 50%;
}

.allchats{
    max-height: 100%;
}
.message{
    max-width: 100%;
    flex:1;
}
.msg-text{
    max-width: 100%;
}

@media(max-width: 400px){
    .modal.active{
        border-radius: 10px 10px 0 0;
        bottom: 0;
        left:0;
        transform: translate(0, 0);
        height: 90%;
    }
}
